.*
!/.gitignore
!/.htaccess

article.html
alt/config/db/
!alt/config/db/sample.php
model/docs/
!model/docs/index.html

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# /academic
# /art
# /building
# /equipment
# /information
# /news
# /project
# /resource
# /service
# /storefront
# /supplies
# /trade

archive/
backup/
cache/

*.komodoproject

draft.html
local.html
commons/theme/image/1051872-*.*
wp-content/
ico-pack/
roboto/
roboto-condensed/