/** Child Theme Created: 2018-04-10 Last Updated: 2018-04-13 10:24 HRS EST*/

.title-wrap {
	background-image: url('/commons/theme/image/1051872-white-cc.png');	
	background-repeat: no-repeat;
	background-size: 142px;
	background-position: 18px center;
}

.title-wrap .inner {
	padding: 2em 1em 2em 115px;
}

.spacer-header {
	border-bottom: #777 solid 4px;	
}

.spacer-header-bottom {
	box-shadow: 0 1px 2px rgba(50, 50, 50, 1.0);
}

.spacer-footer-top {
	border-top: #777 solid 4px;
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 1.0);
}

.active {
	background: #e0e0e0;
}

.inactive {
	background: #eee;
}

.community .unit a {
	font-weight: bold;
}

.nature { background: #b6d7a8; }
.art { background: #d9d2e9; }
.academic { background: #fff2cc; }
.building { background: #d9d9d9; }
.information { background: #ffe599; }
.project { background: #ffd966; }
.profession { background: #d0e0e3; }
.trade { background: #f6b26b; }
.news { background: #f1c232; }
.process { background: #e6b8af; }
.standard { background: #f4cccc; }
.design { background: #ea9999; }
.equipment { background: #fce5cd; }
.resource { background: #d9ead3; }
.service { background: #a2c4c9; }
.supply { background: #f9cb9c; }
.storefront { background: #76a5af; }
.commons { background: #b6d7a8; }
.download { background: #279f43; }

.order-01 { }

.boxes .unit .border {
	border: #777 solid 4px;
	border-radius: 7px;
	box-shadow: 1px 1px 3px rgba(50, 50, 50, 1.0);
}

.boxes .unit .inner {
	border-radius: 3px;
	box-shadow: inset 1px 1px 3px rgba(50, 50, 50, 1.0);
}