/** Child Theme Created: 2018-04-10 Last Updated: 2018-04-13 10:24 HRS EST*/

.title-wrap {
	background-image: url('/commons/theme/image/1051872-white-cc.png');	
	background-repeat: no-repeat;
	background-size: 142px;
	background-position: 18px center;
}

.title-wrap .inner {
	padding: 2.5em;
	padding-left: 100px;
}

.active {
	background: #e0e0e0;
}

.active a {
	font-weight: bold;
}

.inactive {
	background: #eee;
	opacity: 1.0;
}

.nature { background: #b6d7a8; }
.art { background: #fce5cd; }
.academic { background: #fff2cc; }
.building { background: #d9d9d9; }
.information { background: #ffe599; }
.project { background: #f6b26b; }
.profession { background: #e0e0e0; }
.trade { background: #e69138; }
.news { background: #ffd966; }
.process { background: #e6b8af; }
.standard { background: #f4cccc; }
.design { background: #ea9999; }
.equipment { background: #e0e0e0; }
.resource { background: #d0e0e3; }
.service { background: #a2c4c9; }
.supply { background: #b7b7b7; }
.storefront { background: #76a5af; }
.commons { background: #b6d7a8; }

.order-01 { }
