/** Child Theme Created: 2018-04-10 Last Updated: 2018-04-13 10:24 HRS EST*/

.title-wrap {
	background-image: url('/commons/theme/image/1051872-white-cc.png');	
	background-repeat: no-repeat;
	background-size: 142px;
	background-position: 18px center;
}

.title-wrap .inner {
	padding: 2.5em;
	padding-left: 100px;
}

.active {
	background: #e0e0e0;
}

.inactive {
	background: #eee;
}

.community .unit a {
	font-weight: bold;
}

.nature { background: #b6d7a8; }
.art { background: #d9d2e9; }
.academic { background: #fff2cc; }
.building { background: #d9d9d9; }
.information { background: #ffe599; }
.project { background: #ffd966; }
.profession { background: #d0e0e3; }
.trade { background: #f6b26b; }
.news { background: #f1c232; }
.process { background: #e6b8af; }
.standard { background: #f4cccc; }
.design { background: #ea9999; }
.equipment { background: #fce5cd; }
.resource { background: #d9ead3; }
.service { background: #a2c4c9; }
.supply { background: #f9cb9c; }
.storefront { background: #76a5af; }
.commons { background: #b6d7a8; }
.download { background-color: #279f43; }

.order-01 { }

.boxes .unit .inner {
	border-width: 4px;
	border-radius: 7px;
	border-color: #555;
	box-shadow: inset 1px 1px 3px rgba(100, 100, 100, 1.0);
}
