.*
!/.gitignore
!/.htaccess
bin/archives/
bin/backups/
bin/cache
bin/languages/
bin/uploads/
bin/logs/debug.log
bin/plugins/wp-bundle-base-dna/plugins/data-wc.php
bin/plugins/wp-bundle-security-login/
config/
core/wp-content/
model/docs/
model/media/
model/monitoring/

*-x.php
backupwordpress-*
*.komodoproject
article.html
