# SECURITY BEGIN (Deny First, Then Allow)

Options -Indexes
# Do not allow the listing of directories by default

<FilesMatch ".htaccess|.wpcli|xmlrpc.php|config|error|debug|changelog|readme|license">
  Require all denied
</FilesMatch>
# Do not allow access to files that may contain security vulnerabilities or sensitive information.

<FilesMatch "\.(html|css|js|jpg|png|gif|pdf|ico|mp3|mp4|webm)$">
  Require all granted
</FilesMatch>
# Allow access to all html and media files, by default.

# SECURITY END

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript image/x-icon
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html|jpg|png|gif|css|js|pdf|ico)$">
    Header set Cache-Control "max-age=86400, public, must-revalidate"
    Header unset ETag
    FileETag None
  </FilesMatch>
  AddCharset UTF-8 .html
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>

# END WordPress

ErrorDocument 403 /center/alt/code/403.html
ErrorDocument 404 /center/alt/code/404.html
ErrorDocument 500 /center/alt/code/500.html
ErrorDocument 503 /center/alt/code/503.html

# Use the Source, Luke!
# https://httpd.apache.org/docs/2.4/
# Choices minimized for optimization purposes.
# 86400 seconds = 1 day. 259200 = 3 days. 864000 = 10 days. Adjust as necessary.
