/* Theme: Theme15 Created: 2018-04-15 Updated: 2018.04.15 */ 
/* Adapted from HTML5 / Created: 2017-12-15 */

.updated { color: #180415; }

/* Top Level Elements */

@media all and (min-width: 0) {
	
html {
	background-color: #e6e6e6;
	padding: 1em;
}

body {
	position: relative;
	max-width: 850px;
	display: block;
	margin: 0 auto;
	padding: 0;
	
	font: 1em/1.6 sans-serif;
	color: #222;
	
	border: 1px solid #5a92b5;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
	background-color: #fff;
}

.container {
	
}

/* HEADER START */

header.site {
	
}

header.site .title {
	
}

header.site .description {
	
}

header .wrap {
	
}

/**** HEADER START *****/

header.site {
	padding: 0;
	text-align: left;
}

header.site .wrap {
	width: 100%;
}

header.site .title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0;
}

header.site .title a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}

header.site .description {
	font-weight: normal;
	font-size: 1em;
	color: #757575;
}

/* HEADER END */

/*** NAV.SITE START ***/

nav.site {
	text-align: center;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}

nav.site ul {
	margin-left: 0;
	padding: 0;
}

nav.site .more {
	display: none;
}

/* turn off what we don't need initially */

nav.site li.more {
    display: none;
}

/* turn these off first, then turn on one by one as needed */

nav.site .vertical-menu li {
	display: none;
}

nav.site .has-children:hover > ul.has-parent {
	display: block;
}

nav.site .has-parent {
	display: none;
	background: #fff;
	position: absolute;
	width: 200px;
}

nav.site .vertical-menu ul.has-parent {
	position: relative;
	text-indent: .5em;
	overflow: hidden;
}

nav.site .has-parent li {
	width: 200px;
	text-align: left;
	background: #fff;
	padding-left: 20px;
}

nav.site li a {
	min-width: 120px;
	height: 3em;
}

nav.site .has-parent li a {
	width: 200px;
	height: 3em;
	padding-right: 1em;
}
nav.site .more-menu.has-parent {
	right: 0;
	z-index: 100;
}
    
nav.site .menu-bar {
	display: none;
	line-height: 6px;
	width: 75px;
	height: 3em;
	padding-top: 0.6em;
	padding-bottom: 0.1em;
}

nav.site .icon-bar {
	text-align: center;
	display: inline-block;
	width: 2.5em;
	height: 4px;
	border-radius: 1px;
	background: #555;
}

nav.site .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/***** NAV.SITE END *****/

.frame {
	
}

article {
	display: block;
	margin: 0 auto;
	padding: 1em 2em;
	position: relative;

}

aside {
	font-size: 80%;
}

article section {
	float: none;
	padding: 0;
}

.column {
	
}

.column-left {
	
}

.column-right {
	
}

nav {
	text-align: center;
}

nav.site {
	
}

nav.page {
	
}

.spacer {
	
}

.spacer-header {
	
}

.spacer-header-top {
	
}

.spacer-footer {
	
}

.spacer-footer-top {
	
}

article footer {
	
}

footer.site {
	
}

footer.site nav {
	
}

footer.site .copyright {
	
}

/* Second Level Elements */

a {
	
}

p a {
	
}

header a,
footer a {
	
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1
}

h1, h2 {
	font-family: serif;
}

h1 { font-size: 150%; }

h2 { font-size: 125%; }

h3 { font-size: 110%; }

h4 { font-size: 100%; }

h5 {  font-size: 90%; }

h6 { font-size: 80%; }

a:hover {
	
}

a:active {
	
}

a:visited {
	
}

img, video {
	
}

img {
	
}

video {
	
}

audio {
	
}

cite {
	
}

code {
	
}

pre {
	
}

dd {
	
}

ul {
	
}

ol {
	
}

/* NAV START */

nav ul {
	display: inline-block;
}

nav ul li {
	
}

nav li a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	height: 3em;
	line-height: 3em;
	padding: 0;
}

nav li:hover {
	background: #f5f5f5;
}

nav .has-parent li:hover {
	background: #f5f5f5;
}

nav ul {
	display: inline-block;
}

nav li:first-child {
	border-left: 1px dashed #e7e7e7;
}

nav li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	height: 3em;
	line-height: 3em;
	padding: 0;
	min-width: 120px;
	text-align: center;
	border-right: 1px dashed #e7e7e7;
	box-sizing: border-box;
}

nav ul.has-parent {
	box-sizing: border-box;
	border: 1px dashed #e7e7e7;
	border-top: none;
}

nav ul.has-parent li {
	border-bottom: 1px dashed #e7e7e7;
}

nav ul.has-parent li:last-child {
	border-bottom: 1px dashed #e7e7e7;
}

/* NAV END */

} /* media all and (min-width: 0) END 

/* Responsive */


/* Desktop Wide */

@media screen and (min-width: 1920px) {
	
}

/* Desktop Medium */

@media screen and (min-width: 1440px) {
	
}

/* Desktop / Tablet Landscape */

@media screen and (min-width: 1024px) {
	
}

/* Tablet Portrait Wide */

@media (max-width: 1023px) {
	
}

/* Tablet Portrait Wide */

@media (max-width: 960px) {
	
}

/* Tablet Portrait */

@media (max-width: 840px) {
	
}

/* Smartphone Landscape Wide */

@media (max-width: 720px) {
	
}

/* Smartphone Landscape Medium. */

@media (max-width: 640px) {
	
}

/* Smartphone Portrait Wide */

@media (max-width: 480px) {
	
}

/* Smartphone Portrait Medium */

@media (max-width: 360px) {
	
}

/* Smartphone Portrait Narrow */

@media (max-width: 240px) {
	
}

/* Print */

@media print {

}

/* 
120, 240, 360, 480, 600, 720 
840, 960, 1080, 1200, 1320, 1440
1560 ... 1920 */