/* Blank CSS to Basic CSS. Created: 2018-04-19.  Updated: 2018-04-19. */

.updated { color: #180415; }

/* Top Level Elements (Block Level Elements > 1 Line) */

@media all and (min-width: 0) {

html {
	padding: 1em;
	background-color: #e6e6e6;
}

body {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	min-width: 240px;
	max-width: 850px;
	font: 1em/1.6 sans-serif;
	color: #222;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
}

body.root {
	
}

body.section {
	
}

body.page {
	
}

.container {
	padding: 0 10px;
}

header.site {
	min-height: 3em;
	border-bottom: 1px solid #e0e0e0;
}

header.site .title {
	font-size: 135%;
	font-weight: bold;
}

header.site .description {
	
}

header > .wrap {
	
}

body > .frame {
	
}

/* Alphabetical order starts here */

address {
	
}

article {
	min-height: 10em;
}

article footer {
	
}

aside {
	
}

aside.page {
	
}

aside.section {
	
}

aside.site {
	
}

blockquote {
	
}

caption {
	
}

canvas {
	
}

figure {
	
}

footer {
	opacity: 0.8;
}

footer.site {
	
}

footer.site nav {
	
}

footer.site .copyright {
	
}

main {
	
}

nav {
	text-align: center;
}

nav.site {
	
}

nav.page {
	
}

section {
	float: none;
}

.spacer {
	
}

.spacer-header {
	
}

.spacer-header-top {
	
}

.spacer-footer {
	
}

.spacer-footer-top {
	
}

div.base {
	
}

div.notice {
	
}

/* Second Level Elements Inline (i.e. # lines typically equals 1) */

/* Most Common, Then Alphabetical */

a {
	color: inherit;
	text-decoration: none;
}

p a {
	
}

header a,
footer a {
	
}

a:hover {
	opacity: 0.7;
}

a:active {
	margin-top: 1px;
}

a:visited {
	opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 { font-family: serif; }

h2 { font-family: serif; }

h3 {	}

h4 {	}

h5 {	}

h6 {	}

pre {
	
}

dd {
	
}

ul {
	
}

ol {
	
}

nav ul {
	
}

nav ul li {
	
}

/* Second level alphabetical starts here */

abbr {
	
}

cite {
	
}

code {
	
}

data {
	
}

del {
	
}

dfn {
	
}

em {
	
}

i {
	
}

ins {
	
}

mark {
	
}

q {
	
}

strike {
	
}

small {
	
}

span {
	
}

strong {
	
}

sup {
	
}

sub {
	
}

time {
	
}

u {
	
}

var {
	
}

/* Image and Multimedia */

area {
	max-width: 100%;
}

audio {
	max-width: 100%;
}

img {
	max-width: 100%;
}

map {
	max-width: 100%;
}

track {
	max-width: 100%;
}

video {
	max-width: 100%;
}

/* Embedded Content */

embed {
	
}

iframe {
	
}

object {
	
}

param {
	
}

picture {
	
}

source {
	
}

/* Table Content */

caption {
	
}

col {
	
}

colgroup {
	
}

table {
	
}

tbody {
	
}

tbody {
	
}

td {
	
}

tfoot {
	
}

th {
	
}

thead {
	
}

tr {
	
}

/* Forms */

button {
	
}

datalist {
	
}

fieldset {
	
}

form {
	
}

input {
	
}

label {
	
}

legend {
	
}

meter {
	
}

optgroup {
	
}

option {
	
}

progress {
	
}

select {
	
}

textarea {
	
}

/* Interactive Elements */

details {
	
}

dialog {
	
}

menu {
	
}

menuitem {
	
}

summary {
	
}

/* See also Web Components Technology */

/* Ref: https://developer.mozilla.org/en-US/docs/Web/HTML/Element */

} /* media all and (min-width: 0) END 

/* Responsive */

.block {
	
}

.line {
	
}

.unit {
	overflow: hidden;
}

.border {
	
}

.unit .border {
	border: 1px solid #ccc;
	border-radius: 5px;
}
.inner {
	
}

.size1of1 {
	width: 100%;
}

.size1of2 {
	width: 50%;
}

.size1of3 {
	width: 33.333%;
}

.size1of4 {
	width: 25%;
}

.size1of5 {
	width: 20%;
}

.size2of3 {
	width: 66%;
}

.size3of4 {
	width: 75%;
}

.size2of5 {
	width: 40%;
}

.size3of5 {
	width: 60%;
}

.size4of5 {
	width: 80%;
}

.blocks .unit .inner {
	height: 7em;
	line-height: 7em;
}

/* Desktop Wide */

@media screen and (min-width: 1920px) {
	
}

/* Desktop Medium */

@media screen and (min-width: 1440px) {
	
}

/* Desktop / Tablet Landscape */

@media screen and (min-width: 1024px) {
	
}

/* Tablet Portrait Wide */

@media (max-width: 1023px) {
	
}

/* Tablet Portrait Wide */

@media (max-width: 960px) {
	
}

/* Tablet Portrait */

@media (max-width: 840px) {
	
}

/* Smartphone Landscape Wide */

@media (max-width: 720px) {
	
}

/* Smartphone Landscape Medium. */

@media (max-width: 640px) {
	
}

/* Smartphone Portrait Wide */

@media (max-width: 480px) {
	
}

/* Smartphone Portrait Medium */

@media (max-width: 360px) {
	
}

/* Smartphone Portrait Narrow */

@media (max-width: 240px) {
	
}

/* Print */

@media print {

}

/* 
120, 240, 360, 480, 600, 720 
840, 960, 1080, 1200, 1320, 1440
1560 ... 1920 */
