/** Child Theme */

article {
	position: relative;
}

.column {
	position: absolute;
	width: 10%;
	height: 100%;
	bottom: 0;
}

.column-left {
	left: 0;
	border-right: 1px solid #303030;
}

.column-right {
	right: 0;
	border-left: 1px solid #303030;
}